@charset "utf-8";
/* 全局样式 */
*{ margin:0; padding:0; }
body, button, input, select, textarea {font-size:14px; font-family:"微软雅黑", Arial; color:#000;}
button, input, select, textarea, img{vertical-align: middle;  border:none;}
/* 链接样式 */
/*登录*/
.login{ width:100%; margin-top:92px;}
.login_main{ width:1315px; margin:0 auto; background:url(../images/bj.jpg) no-repeat top center; }
.login_from{padding-left:507px; height:300px; padding-top:208px;}
.login_table td{ height:35px; font-size:12px;}
.pwd{ padding-left:40px; vertical-align:bottom; font-size:12px; color:#03F;}
.login_text{ width:175px;border:1px solid #ccc;  padding:3px; height:20px; line-height:20px;}
.login_td input{width:80px; height:23px; cursor:pointer;}
.login_button{ background:url(../images/dl.png) no-repeat; margin-left:5px;  }
.login_reset{ background: url(../images/cz.png) no-repeat; margin-left:15px;}