/* CSS Document */
* { margin: 0; padding: 0;list-style-type:none; }
body {font-size: 12px; line-height: 18px;}	
a { text-decoration: none; color:#333;}

/* 左侧菜单 */
.shop_dome {color: #5e6060;font-size: 14px;}
.shop_dome nav {overflow-y: auto;margin: 0;width: 22%;float: left;background-color: #ffefde;-webkit-overflow-scrolling: touch;}
.shop_dome nav dl {margin-top: 0;}
.shop_dome nav dl dd.style5 {color: #F18F28;background-color: #FFF;border-left:solid 3px #F18F28;}
.shop_dome nav dl dd {font-size: 13px;padding: 3px 0;text-align: left;background-color: #ffefde;color: #6D3E22;}
.shop_dome nav dl dt, .shop_dome nav dl dd {margin-left: 0;text-align: center;line-height: 32px;cursor: pointer;}

/* 右侧内容 */
.shop_dome section {overflow-y: auto;margin: 0;width: 78%;float: left;background-color: #fff;-webkit-overflow-scrolling: touch;}
.shop_dome section article {border-top: 1px solid #e7eaeb;background-color: #fff;padding: 0 5px 30px;}
.shop_dome section article dl:first-of-type {border-top: 1px solid #e7eaeb;margin-top: -1px;}
.shop_dome section article dl {position: relative;padding-left: 90px;border-top: 1px solid #fff;margin-top: 2px;padding-bottom: 8px;margin-bottom: 2px;}
.shop_dome section article dl dt h3 {font-size:14px;margin-bottom:8px;margin-top:6px;font-weight:normal;}
.shop_dome section article dl dd {margin-left: 0;font-size: 12px;position: relative;z-index: 1;}
.shop_dome section article dl dd img {height: 76px;width: 76px;position: absolute;left: -80px;top: -20px;border-radius: 3px;cursor: pointer;}
/* .shop_dome section article dl dd span, .content b {display: inline-block;width: 25px;height: 23px;background:url(../images/popular.png) no-repeat center center;-webkit-background-size: 100% auto;background-size: 100% auto; */
/* position: absolute;left: -80px;top: -28px;color: #fff;line-height: 21px;font-size: 12px;text-align: center;} */
.shop_dome section article dl dd:nth-of-type(2) {margin-top: -5px;}
.shop_dome section article dl dd em {font-style: normal;color: #f00;}
input[class*="favourite"]:checked {background-position:-256px -30px;}
input[class*="favourite"] {-webkit-appearance: button;width: 30px;height: 30px;position: absolute;right: 33px;top: 33%;cursor: pointer;z-index: 10;background: red;display: inline-block;
background:url(../images/icons.png) no-repeat -256px 0px;-webkit-background-size: auto 60px;border: none;}
.class-conlist{border: 0;height: 25px;width: 25px;background:url(../images/unchoosen.png) no-repeat;background-size: cover;position: absolute;right: 2px;top: 35%;cursor: pointer;z-index: 10;border: none;}
.class-conlist1{background:url(../images/choosen.png) no-repeat;background-size: cover;border: none;}
input, select, textarea, button {outline: none;resize: none;}

/* 底部内容 */
.footer_menu {height: 50px;}
.footer_menu ul {border-top: 1px solid #272321;height: 50px;width: 100%;position: fixed;bottom: 0;left: 0;z-index: 100;background: -webkit-gradient(linear, 0 0, 0 10%, from(#222a2d), to(#212629));}
.footer_menu ul li {width: 20%;text-align: center;height: 100%;float: left;}
.footer_menu ul li a {display: block;height: 100%;color: #9a928e;position: relative;}
.footer_menu ul li a span.icons {display: block;width: 50px;height: 25px;margin: 3px auto;background:url(../images/icons.png) no-repeat 0 0;-webkit-background-size: auto 50px;}
.footer_menu ul li a[class*="on"] span.icons_2 {background-position: -50px 0px;}
.footer_menu ul li a span.icons_3 {background-position: -100px 0;}
.footer_menu ul li a span.icons_4 {background-position: -150px 0;}
.footer_menu ul li a>* {pointer-events: none;}
.footer_menu ul li a label {display: block;margin: 0 5px;height: 20px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 12px;}
.footer_menu ul li a span.icons_5 {display: block;width: 55px;height: 55px;position: absolute;top: -15px;right: 10px;border-radius: 45px;background:url(../images/btn2.png) no-repeat center center;
-webkit-background-size: 100% 100%;z-index: 105;}
.footer_menu ul li a span.icons_5 label {display: inline-block;width: 15px;height: 15px;border-radius: 15px;border: 1px solid #ffffff;background: red;line-height: 15px;text-align: center;
color: #fff;position: absolute;right: 0px;top: 0px;}


.freeSet {padding: 0;background-color: #fff;width: 300px;}
.mDialog {position: fixed;bottom: auto;width: 290px;top: 0;left: 0;background-color: rgba(0,0,0,.7);box-shadow: 0 0 10px rgba(0,0,0,.5);padding: 25px;right:0px;}
.mDialog, .mDialog * {margin: 0 auto;padding: 0;}
.content b {left: 10px;top: 0;}
.content img {width: 290px;height: 225px;border:none;}
.content h2 {background-color: #f6f6f6;color: #5e6060;font-size: 13px;padding: 10px 20px 5px 20px;margin-top: -5px;font-weight: normal;}
.content h2 i {color: #f00;font-style: normal;font-size: 12px;display: inline-block;margin-left: 10px;}
.content p {color: #8B8B8B;font-size: 12px;line-height: 18px;background: #fff;height: auto;padding: 5px 20px 12px 20px;}
#page_allMenu .freeSet>a.x {top: -6px;right: -6px;}
.mDialog>a.x {display: inline-block;width: 27px;height: 27px;text-indent: -9999px;background:url(../images/mdlg_btn_x.png) no-repeat 0 0;-webkit-background-size: 27px 27px;background-size: 27px 27px;
position: absolute;top: -9px;right: -11px;}
.mModal {position: fixed;left: 0;top: 0;width: 100%;background-color: rgba(0,0,0,.5);}
.black_overlay{position: absolute;top: 0%;left: 0%;width: 100%;height: 100%;background-color: gray;z-index:31;-moz-opacity: 0.8;opacity:.40;filter: alpha(opacity=40); float:left; display:none;}

/* 头部banner */
.container{ background:none}
header{ text-align:center}

.banner{ width:100%; overflow:hidden; position:relative;}
.banner ul{ position:absolute; left:0; top:0; z-index:10; margin:0;}
.banner ul li{ float:left; display:table-cell; position:relative}
.banner li a{ width:100%; height:100%; display:block;}
.banner li .title{background-color:RGBA(0,0,0,.5); height:30px; color:#fff; line-height:30px; padding-left:10px; position:absolute; left:0; bottom:0; width:100%; z-index:1000;}
.identify{text-align:left; position:absolute; bottom:0; left:0; z-index:100; width:100%; height:30px;}
.identify em{ display:inline-block; margin:10px;-webkit-border-radius: 6px;-moz-border-radius: 6px;
border-radius: 6px;margin-left: 5px;width: 12px;height: 12px;background: #fff;}
.identify em.cur{ background-color:#e32f0c}
.identify span.pointer{ float:right; margin-right:10px;}




